.updateProfile-container {
  max-width: 600px;
  margin: 50px auto;
}
.updateProfile-container form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.updateProfile-container form input, select {
  color: #333;
  border: 1px solid #1c558e;
  border-radius:  8px;
  
  height: 44px;
  padding: 0 15px;
 
  margin: 0 0 10px;
  
}
.updateProfile-container form input::placeholder{
  color: #333;
}
.updateProfile-container form hr {
  border: 0;
  height: 1px;
  background: #1c558e;
  margin: 10px 0 20px;
}

.updateProfile-container form .input-group {
  display: flex;
}
.updateProfile-container form .input-group input + select {
  margin-left: 8px;
  padding-left: 0;
  text-align: center;
}

.updateProfile-container form button {
  margin: 5px 0 0;
  height: 44px;
  background: #1c558e;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.2s;

}
.updateProfile-container form button:hover{
  background: #174777 ;
}
.updateProfile-container button {
  width: 100%;
  margin: 5px 0 0;
  height: 44px;
  background: #ce1b1b;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.2s;

}
.updateProfile-container button:hover{
  background: #a31515 ;
}

.updateProfile-container form label {
  align-self: center;
  margin-bottom: 30px;

  cursor: pointer;
}
.updateProfile-container form label:hover{
  opacity: 0.7;
}
.updateProfile-container form label#userImage img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  background: #eee;
}
.updateProfile-container form #avatar {
  display: none;
}


.updateProfile-container form label#userImage input{
  display: none;
}
.updateProfile-container form label#userImage.has-thumbnail {
  border: 0;
}
.updateProfile-container form label#thumbnail.has-thumbnail img {
display: none;
}